.stf__parent {
  position: relative;
  display: block;
  box-sizing: border-box;
  transform: translateZ(0);

  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.sft__wrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.stf__parent canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.stf__block {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  perspective: 2000px;
}

.stf__item {
  display: none;
  position: absolute;
  transform-style: preserve-3d;
}

.stf__outerShadow {
  position: absolute;
  left: 0;
  top: 0;
}

.stf__innerShadow {
  position: absolute;
  left: 0;
  top: 0;
}

.stf__hardShadow {
  position: absolute;
  left: 0;
  top: 0;
}

.stf__hardInnerShadow {
  position: absolute;
  left: 0;
  top: 0;
}


.flip-book {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  // display: none;
  background-size: cover;
}

.page {
  background-color: transparent;
  color: rgb(120, 94, 58);

  overflow: hidden;
  box-sizing: border-box;

  // & * {
  //   border: 1px solid red;
  // }

  .page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.--left { // for left page (property will be added automatically)
    border-right: 0;
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
  }

  &.--right { // for right page (property will be added automatically)
    border-left: 0;
    box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);

    .page-footer {
      text-align: right;
    }
  }

  &.hard { // for hard page
    background-color: rgb(242, 232, 217);
  }

  &.page-cover {
    background-color: rgb(223, 204, 177);
    color:  rgb(120, 94, 58);

    h2 {
      text-align: center;
      padding-top: 50%;
      font-size: 210%;
    }

    &.page-cover-top {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
    }

    &.page-cover-bottom {
      box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
    }
  }
}

// Container
.container {
  width: 1170px;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;

  @media(max-width: 1170px) {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// FlipBook
.flipbook {
  width: 100%;
  height: 572px;
  background-color: #262626;
  position: relative;
  overflow: hidden;

  @media(max-width: 580px) {
    height: 600px;
  }

  @media(max-width: 500px) {
    height: 500px;
  }

  .flip-book {
    opacity: 0;
  }

  &.active &__content {
    &:after {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &.active .flip-book {
    opacity: 1;
  }

  &__content {
    height: calc(100% - 63px);
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;
    position: relative;

    @media(max-width: 580px) {
      padding-left: 15px;
      padding-right: 15px;
      height: calc(100% - 90px);
    }

    .flip-book {
      width: 100%;
      height: 100%;
      box-shadow: none;
    }
  
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #262626;
      z-index: 1;
      transition: 1s;
      // background-image: url("../img/ajax_loading.gif");
      // background-size: 40px 40px;
      // background-position: center center;
      // background-repeat: no-repeat;
    }
  }

  &__bottom {
    height: 63px;
    border-top: 1px solid #323a3d;
    width: 100%;
    background-color: #262626;

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 11;

    @media(max-width: 580px) {
      position: relative;
      height: 90px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__info {
    font-family: "Roboto-regular", sans-serif;
    color: #ffffff;
    font-size: 14px;
  }

  &__prev, &__next {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    background: #323a3d;
    cursor: pointer;
    z-index: 9;

    @media(max-width: 580px) {
      top: 20px;
      height: 50px;
      border: 1px solid #707070;
      background-color: transparent;
    }

    &:after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border: 2px solid #778a91;

      @media(max-width: 580px) {
        border-color: #707070;
      }
    }
  }

  &__prev {
    left: 0;

    @media(max-width: 580px) {
      left: 15px;
    }

    &:after {
      border-right: 0;
      border-top: 0;
      margin-left: 5px;

      @media(max-width: 580px) {
        margin-left: 3px;
      }
    }
  }

  &__next {
    right: 0;

    @media(max-width: 580px) {
      right: 15px;
    }

    &:after {
      border-left: 0;
      border-bottom: 0;
      margin-left: -5px;

      @media(max-width: 580px) {
        margin-left: -3px;
      }
    }
  }

  &__fullscreen {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    appearance: none;
    box-shadow: none;

    position: absolute;
    transition: .2s;
    transition-timing-function: ease-in-out;

    right: calc(370px / 2);

    &:hover {
      transform: scale(1.1);
    }

    @media(max-width: 1170px) {
      right: 70px;
    }

    @media(max-width: 580px) {
      display: none;
    }

    img {
      display: block;
    }

    &:after {
      content: "";
      width: 250%;
      height: 250%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }
  }

  &__loader {
    width: 100%;
    height: 5px;
    background-color: #ffffff;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    &.hide {
      height: 0;
      opacity: 0;
    }

    span {
      width: 0;
      display: block;
      height: 100%;
      background-color: #304fff;
      transition: 1s;
    }
  }
}

// fullscreen
.flipFullscreen-modal {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  overflow: auto;

  width: 100%;
  height: 100%;

  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: .2s;

  &.active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
  }
}

.flipFullscreen {
  width: 1100px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  overflow: hidden;

  @media(max-width: 1130px) {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }

  @media(max-width: 768px) {
    padding: 10px;
  }

  .flip-book {
    box-shadow: none;
  }

  &__layout {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__close {
    background: rgba(30,30,30,.6);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 10px;
    position: relative;
    transition: color .2s;
    vertical-align: top;
    visibility: inherit;
    box-sizing: border-box;

    position: fixed;
    top: 0;
    right: 0;

    svg {
      fill: #fff;
    }
  }

  &__footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg,rgba(0,0,0,.85) 0,rgba(0,0,0,.019) 88%,transparent);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    width: 96px;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Roboto';
    text-align: center;
  }

  &__start, &__prev, &__next, &__end {
    padding: 10px;
    cursor: pointer;

    display: flex;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    position: relative;


    &:after {
      content: "";
      display: block;
      border: solid #ffffff;
      display: inline-block;
      padding: 9px;
      transform: rotate(-45deg);
      border-width: 0 3px 3px 0;
      margin: auto;
    }
  }

  &__prev, &__start {
    &:after {
      transform: rotate(135deg);
    }
  }

  &__start, &__end  {
    &:before {
      content: "";
      display: block;
      width: 4px;
      height: 35px;
      background-color: #ffffff;
      position: absolute;
      top: 3px;
      left: 0;
    }
  }

  &__start {
    margin-right: 10px;

    &:before {
      left: 1px;
    }
  }

  &__end {
    margin-left: 10px;
    &::before {
      left: inherit;
      right: 0;
    }
  }
}